/vendor
/node_modules
/.idea
/.vscode
/.env
/.env.*
!.env.example
.env.backup
/.phpunit.cache
/storage/*.key
/storage/clockwork
/storage/debugbar
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
*.swp
*.swo
.DS_Store